region                         = "us-east-1"
eks_cluster_security_group     = "udacity-prj3-eks-cluster-security-group"
eks_cluster_role               = "udacity-prj3-eks-role"
eks_cluster_name               = "udacity-prj3-eks"
eks_worker_node_security_group = "udacity-prj3-eks-work-node-security-group"
eks_worker_node_role           = "udacity-prj3-eks-worker-node-role"
eks_worker_node_name           = "udacity-prj3-eks-worker-node"
git_repository_url             = "https://github.com/congdinh2008/aws-cloud-devops-udacity-prj3-microservice"
github_personal_access_token   = "your github personal access token"
codebuild-ecr-role             = "uda-prj3-codebuild-ecr-role"
